name: CI

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "20"
      - name: Install dependencies
        run: yarn
      - name: Run tests
        run: yarn lint

  check-dist:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "20"
      - name: Install dependencies
        run: yarn
      - name: Rebuild the dist/ directory
        run: yarn build
      - name: Compare the expected and actual dist/ directories
        run: |
          if [ "$(git diff --ignore-space-at-eol dist/ | wc -l)" -gt "0" ]; then
            echo "Detected uncommitted changes after build.  See status below:"
            git diff
            exit 1
          fi

  patcher-report:
    if: github.event_name == 'repository_dispatch' || github.event_name == 'schedule' || github.event_name == 'workflow_dispatch'
    runs-on: ubuntu-latest
    outputs:
      spec: ${{ steps.get-spec.outputs.spec }}
    steps:
      - uses: actions/checkout@v4

      - name: Fetch Pipelines Read Token
        id: pipelines-read-token
        uses: gruntwork-io/pipelines-credentials@main
        with:
          PIPELINES_TOKEN_PATH: "pipelines-read/gruntwork-io"
          FALLBACK_TOKEN: ${{ secrets.PIPELINES_READ_TOKEN }}

      - uses: gruntwork-io/patcher-action@patcher-debug
        id: get-spec
        with:
          patcher_command: report
          PIPELINES_READ_TOKEN: ${{ steps.pipelines-read-token.outputs.PIPELINES_TOKEN }}
          include_dirs: "infrastructure-live/**"
          working_dir: ${{ github.workspace }}
          spec_file: /tmp/patcher-spec.json

  update-env:
    needs: [patcher-report]
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        dependency: ${{ fromJson(needs.patcher-report.outputs.spec).Dependencies }}
    steps:
      - uses: actions/checkout@v4

      - name: Fetch Pipelines Read Token
        id: pipelines-read-token
        uses: gruntwork-io/pipelines-credentials@main
        with:
          PIPELINES_TOKEN_PATH: "pipelines-read/gruntwork-io"
          FALLBACK_TOKEN: ${{ secrets.PIPELINES_READ_TOKEN }}

      - name: Fetch Pipelines Execute Token
        id: pipelines-infra-root-write-token
        uses: gruntwork-io/pipelines-credentials@main
        with:
          PIPELINES_TOKEN_PATH: "infra-root-write/${{ github.repository_owner }}"
          FALLBACK_TOKEN: ${{ secrets.INFRA_ROOT_WRITE_TOKEN }}

      - name: Create the spec file
        shell: bash
        run: |
          echo '${{ needs.patcher-report.outputs.spec }}' > /tmp/patcher-spec.json

      - uses: gruntwork-io/patcher-action@patcher-debug
        with:
          patcher_command: update
          PIPELINES_READ_TOKEN: ${{ steps.pipelines-read-token.outputs.PIPELINES_TOKEN }}
          PIPELINES_EXECUTE_TOKEN: ${{ steps.pipelines-infra-root-write-token.outputs.PIPELINES_TOKEN }}
          working_dir: ${{ github.workspace }}
          dependency: ${{ matrix.dependency.ID }}
          spec_file: /tmp/patcher-spec.json
          pull_request_title: "[Patcher] [dev] Update ${{ matrix.dependency.ID }}"
          pull_request_branch: "${{ env.PR_BRANCH_PREFIX }}${{ matrix.dependency.ID }}"
          dry_run: true
